In [1]:
##creating dataframe manually using dictionary
import pandas as pd

In [2]:
weather_data = {
    'day' : ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature' : [32,35,28,24,32,21],
    'windspeed' : [6,7,2,7,4,2],
    'event':['Rain','Sunny','Snow','Rain','Sunny','Rain']
}
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Rain
4  1/5/2017           32          4  Sunny
5  1/6/2017           21          2   Rain

In [6]:
df.shape

(6, 4)

In [3]:
rows, col = df.shape ## shape er fisrt element row and second ta column show kore jate individual access korte pari tai evbae nilam
rows
#df.tail()

6

In [11]:
## print row number 2 to 4
df[2:5]

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Rain
4  1/5/2017           32          4  Sunny

In [19]:
#print all coloumns headline
df.columns
##df.rows ##AttributeError: 'DataFrame' object has no attribute 'rows'

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [ ]:
##print individual coloumns value
df.event ##df['event']

In [4]:
i=0
while(i<4):
 print(df.columns[i])
 i=i+1

day
temperature
windspeed
event

In [5]:
##print few columns...
df[['day','temperature']]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           21

In [11]:
df['temperature'].min() #min(), std()..standard deviation

21

In [12]:
df.describe() ##print statistics

       temperature  windspeed
count     6.000000   6.000000
mean     28.666667   4.666667
std       5.354126   2.338090
min      21.000000   2.000000
25%      25.000000   2.500000
50%      30.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [16]:
df['temperature'][df['temperature']>=32] ##only temperature show korbe

0    32
1    35
4    32
Name: temperature, dtype: int64

In [19]:
df[['day','temperature']][df['temperature']==df['temperature'].max()]

        day  temperature
1  1/2/2017           35

In [22]:
##df['day','temperature'] ##key error
df[['day','temperature']]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           21

In [23]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [26]:
##df.set_index('day') ##new dataframe, for modify olddata frame you should inplace=True 
df.set_index('day', inplace=True)

In [27]:
df.loc['1/1/2017']

temperature      32
windspeed         6
event          Rain
Name: 1/1/2017, dtype: object

In [28]:
## reset dataframe,convert to old
df.reset_index(inplace=True)

In [29]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Rain
4  1/5/2017           32          4  Sunny
5  1/6/2017           21          2   Rain